extends layout

block content
  h1#LoadOnScroll= title
  h2#LoadOnScroll Welcome #{User}


  #Experience
    h1#LoadOnScroll Experience
    br
    br
    br
    br
    h2#LoadOnScroll • 3+ years of making projects
    br
    br
    h2#LoadOnScroll • Generated Money through making websites
    br
    br
    h2#LoadOnScroll • Studided Computer Science before moving
    br
    br
    h2#LoadOnScroll • 
    br
    br
    h2#LoadOnScroll • 3+ years of making projects
    br
    br
    h2#LoadOnScroll • Generated Money through making websites
    
