extends layout

block content
  h1= title
  h2 Welcome #{User}


  #About 
    h1#LoadOnScroll About us 
    br
    br 
    h2#LoadOnScroll Hello and welcome to Little Farm on the Hill Scotland!
    br
    br
    br
    br 
    h2#LoadOnScroll We are a family of five who have moved to our own little farm in East Ayrshire, a beautiful region with a rich history and culture.
    br
    br
    br
    br  
    h2#LoadOnScroll We love living close to nature and sharing our passion for farming, animals and countryside with others. 
    br
    br
    br
    br  
    h2#LoadOnScroll On our 5-acre smallholding, we have sheep, chickens, goats, cats and our dogs. 
    br
    br
    br
    br  
    h2#LoadOnScroll We also have a caravan that will soon be available for renting, for a relaxing holiday in the peaceful surroundings of our farm. 
    br
    br
    br
    br  
    h2#LoadOnScroll Follow us on our new journey renovating our farm and creating our dream home. 
    br
    br
    br
    br  
    h2#LoadOnScroll We hope to see you soon!
    br
    br
    br
    br  
