extends layout

block content
  h1 Photos 
  br
  br
  br
  .image-grid
    .image01#LoadOnScroll
    .image02#LoadOnScroll
    .image03#LoadOnScroll
    .image04#LoadOnScroll
    .image05#LoadOnScroll
    .image06#LoadOnScroll
    .image07#LoadOnScroll
    .image08#LoadOnScroll
    .image09#LoadOnScroll
    .image10#LoadOnScroll
    .image11#LoadOnScroll
    .image12#LoadOnScroll

  br
  br
  br