extends layout

block content
  .wholepage
    br
    br
    br
    br
    br
    .login
      h3 Sign-up Page
      form#login(method='post' action='/signupdetails')
        br
        label
          b
            | User Name
        br
        br
        br
        input#Uname(type='text' name='Uname' placeholder='Username')
        br
        br
        br
        label
          b
            | Password
        br
        br
        br
        input#Pass(type='Password' name='Pass' placeholder='Password')
        br
        br
        br
        input#log(type='submit' name='log' value='Sign up')
        br
        br
        a(href="/login") Login
        if failed
          br
          br 
          p1 #{failed}
